@charset "utf-8";
/* CSS Document */

.panel{
	background-color:#CCC;
	margin:5px 0;
}
.anuncios ul{
	background-color:#9C0;
	padding:10px 70px;
}

.conthead2{
	float:right;	
}
/*.icosocial a{
	display: block;
	width:10px;
	height:10px;
	background-image:url(../img/icoSociales.png);
	background-repeat:no-repeat;
}
.icosocial a span{
	display:none;
}

#ico_face { background-position:0 0;}*/